node_modules
.env
build
.log
.logs
docs
.idea
.vscode
uploads/
public/uploads/*

coverage
build
.DS_Store
.env.local
.env.test
.env.production
.env.stage
.env.dev
.env.development
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
apidoc.production.json
apidoc.dev.json
apidoc.stage.json
apidoc.development.json
